In [36]:
from functions1 import Datasets, import_data, show_current, set_current, merge_data, show_columns, describe_data, head_data, sprawdz_rozklad, porownaj_srednie, przedzialy_ufnosci_srednia
from functions1 import boxplot, selection_range_slider, time_plot, line_plot, bar_plot, plot_hist, bootstrap_gender, show_map
import pandas as pd
from ipywidgets import interact, interactive, fixed, interact_manual
import ipywidgets as widgets
from matplotlib import pyplot as plt

In [37]:
%%javascript
IPython.OutputArea.prototype._should_scroll = function(lines) {
    return false;
}

#### Zaimportuj dataset

In [38]:
import_data()

Dataset patient zostal zaimportowany
Dataset region zostal zaimportowany
Dataset weather zostal zaimportowany

#### Wybierz dataset z ktorym chcesz pracowac

In [39]:
interact(set_current, dataset=[('patient', Datasets['patient']), ('region', Datasets['region']), ('weather', Datasets['weather'])]);

interactive(children=(Dropdown(description='dataset', options=(('patient', {'path': 'data/PatientInfo.csv', 's…

#### Polacz tabele

In [5]:
interact(merge_data, dataset=['patient', 'weather', 'region']);

interactive(children=(Dropdown(description='dataset', options=('patient', 'weather', 'region'), value='patient…

#### Pokaz dataset, na ktorym obecnie pracujesz

In [23]:
show_current()

Obecnie pracujesz na tabeli patient

#### Wypisz dostepne columny

In [24]:
show_columns()

1. patient_id
2. sex
3. birth_year
4. age
5. country
6. province
7. city
8. infection_case
9. symptom_onset_date
10. confirmed_date
11. released_date
12. deceased_date
13. state

#### Opisz dataset

In [25]:
describe_data()

         patient_id   birth_year
count  2.886000e+03  2886.000000
mean   3.433609e+09  1974.933472
std    2.184767e+09    20.268879
min    1.000000e+09  1916.000000
25%    1.200000e+09  1961.000000
50%    2.000001e+09  1975.000000
75%    6.001000e+09  1993.000000
max    7.000000e+09  2020.000000

#### Pokaz pierwsze wiersze

In [26]:
head_data()

,patient_id,sex,birth_year,age,country,province,city,infection_case,symptom_onset_date,confirmed_date,released_date,deceased_date,state
0,1000000001,male,1964.0,50s,Korea,Seoul,Gangseo-gu,overseas inflow,2020-01-22,2020-01-23,2020-02-05,NaN,released
1,1000000002,male,1987.0,30s,Korea,Seoul,Jungnang-gu,overseas inflow,NaN,2020-01-30,2020-03-02,NaN,released
2,1000000003,male,1964.0,50s,Korea,Seoul,Jongno-gu,contact with patient,NaN,2020-01-30,2020-02-19,NaN,released
3,1000000004,male,1991.0,20s,Korea,Seoul,Mapo-gu,overseas inflow,2020-01-26,2020-01-30,2020-02-15,NaN,released
4,1000000005,female,1992.0,20s,Korea,Seoul,Seongbuk-gu,contact with patient,NaN,2020-01-31,2020-02-24,NaN,released

#### Wyrysuj histogram

In [40]:
interact(plot_hist, numerical=Datasets[Datasets['current_dataset']]['numerical']);

interactive(children=(Dropdown(description='numerical', options=('birth_year',), value='birth_year'), Output()…

#### Wyrysuj boxplot

In [42]:
interact(boxplot, categorical=Datasets[Datasets['current_dataset']]['categorical'], numerical=Datasets[Datasets['current_dataset']]['numerical']);

interactive(children=(Dropdown(description='categorical', options=('sex', 'age', 'country', 'province', 'city'…

#### Wyrysuj time plot

In [29]:
interact(time_plot, data=Datasets[Datasets['current_dataset']]['count_col'], dates=Datasets[Datasets['current_dataset']]['dates'], date_range = selection_range_slider);

interactive(children=(Text(value='patient_id', description='data'), Dropdown(description='dates', options=('sy…

#### Wyrysuj wykres liniowy

In [43]:
interact(line_plot, data=Datasets[Datasets['current_dataset']]['count_col'], dates=Datasets[Datasets['current_dataset']]['dates'], groupping=Datasets[Datasets['current_dataset']]['categorical']);

interactive(children=(Dropdown(description='dates', options=('symptom_onset_date', 'confirmed_date', 'released…

#### Wyrysuj bar plot

In [31]:
interact(bar_plot, data=Datasets[Datasets['current_dataset']]['count_col'], column=Datasets[Datasets['current_dataset']]['categorical']);

interactive(children=(Dropdown(description='column', options=('sex', 'age', 'country', 'province', 'city', 'in…

#### Stworz mape

In [32]:
show_map()

Mapa dostepna jedynie dla tabeli region

#### Sprawdz przedzialy ufnosci

In [33]:
interact(przedzialy_ufnosci_srednia, data=Datasets[Datasets['current_dataset']]['numerical'], confidence=[0.90, 0.95, 0.99]);
pass

interactive(children=(Dropdown(description='data', options=('birth_year',), value='birth_year'), Dropdown(desc…

#### Sprawdź normalność rozkładu

In [16]:
sprawdz_rozklad()

interactive(children=(Dropdown(description='column', options=('patient_id', 'birth_year', 'code', 'latitude', …

#### Porownaj Srednie

In [17]:
porownaj_srednie();

interactive(children=(Dropdown(description='column1', options=('sex', 'province', 'state'), value='sex'), Outp…

#### Boostrap

In [18]:
bootstrap_gender()

Wynik testu istotny w 7.1% symulacji