In [1]:
from functions1 import Datasets, import_data, show_current, set_current, merge_data, show_columns, describe_data, head_data, sprawdz_rozklad, porownaj_srednie, przedzialy_ufnosci_srednia
from functions1 import boxplot, selection_range_slider, time_plot, line_plot, bar_plot, plot_hist, bootstrap_gender
import pandas as pd
from ipywidgets import interact, interactive, fixed, interact_manual
import ipywidgets as widgets
from matplotlib import pyplot as plt

In [2]:
%%javascript
IPython.OutputArea.prototype._should_scroll = function(lines) {
    return false;
}

#### Zaimportuj dataset

In [3]:
import_data()

Dataset patient zostal zaimportowany
Dataset region zostal zaimportowany
Dataset weather zostal zaimportowany

#### Wybierz dataset z ktorym chcesz pracowac

In [4]:
interact(set_current, dataset=[('patient', Datasets['patient']), ('region', Datasets['region']), ('weather', Datasets['weather'])]);

interactive(children=(Dropdown(description='dataset', options=(('patient', {'path': 'data/PatientInfo.csv', 's…

#### Polacz z innym datasetem

In [6]:
interact(merge_data, dataset=['patient', 'region', 'weather']);

interactive(children=(Dropdown(description='dataset', options=('patient', 'region', 'weather'), value='patient…

#### Pokaz dataset, na ktorym obecnie pracujesz

In [7]:
show_current()

Obecnie pracujesz na tabeli patient-region

#### Wypisz dostepne columny

In [8]:
show_columns()

1. patient_id
2. sex
3. birth_year
4. age
5. country
6. province
7. city
8. infection_case
9. symptom_onset_date
10. confirmed_date
11. released_date
12. deceased_date
13. state
14. code
15. latitude
16. longitude
17. elementary_school_count
18. kindergarten_count
19. university_count
20. academy_ratio
21. elderly_population_ratio
22. elderly_alone_ratio
23. nursing_home_count

#### Opisz dataset

In [9]:
describe_data()

,patient_id,birth_year,code,latitude,longitude,elementary_school_count,kindergarten_count,university_count,academy_ratio,elderly_population_ratio,elderly_alone_ratio,nursing_home_count
count,2.787000e+03,2787.000000,2787.000000,2787.000000,2787.000000,2787.000000,2787.000000,2787.000000,2787.000000,2787.000000,2787.000000,2787.000000
mean,3.508251e+09,1975.166128,35159.372085,36.659743,127.812423,38.951920,64.984212,4.111231,1.481435,16.759577,7.609329,764.283459
std,2.178813e+09,20.216507,21736.853163,0.853852,0.890443,23.720915,43.787818,3.661146,0.589561,6.257647,4.292330,613.365676
min,1.000000e+09,1916.000000,10010.000000,33.488936,126.297950,4.000000,5.000000,0.000000,0.320000,7.690000,3.300000,24.000000
25%,1.400000e+09,1961.000000,14040.000000,35.825056,127.028613,23.000000,34.000000,1.000000,1.250000,13.170000,5.300000,427.000000
50%,2.000001e+09,1975.000000,20280.000000,36.814980,127.216552,31.000000,61.000000,3.000000,1.340000,16.180000,6.700000,494.000000
75%,6.001000e+09,1994.000000,60010.000000,37.483804,128.741544,43.000000,71.000000,7.000000,1.720000,16.590000,7.000000,1001.000000
max,7.000000e+09,2020.000000,70000.000000,37.903568,129.416575,113.000000,195.000000,10.000000,4.180000,40.260000,24.700000,3088.000000

#### Pokaz pierwsze wiersze

In [10]:
head_data()

,patient_id,sex,birth_year,age,country,province,city,infection_case,symptom_onset_date,confirmed_date,...,code,latitude,longitude,elementary_school_count,kindergarten_count,university_count,academy_ratio,elderly_population_ratio,elderly_alone_ratio,nursing_home_count
0,1000000001,male,1964.0,50s,Korea,Seoul,Gangseo-gu,overseas inflow,2020-01-22,2020-01-23,...,10040,37.551166,126.849506,36,56,1,1.17,14.39,5.7,1080
1,1000000027,male,1968.0,50s,Korea,Seoul,Gangseo-gu,overseas inflow,NaN,2020-02-23,...,10040,37.551166,126.849506,36,56,1,1.17,14.39,5.7,1080
2,1000000106,male,1986.0,30s,Korea,Seoul,Gangseo-gu,contact with patient,NaN,2020-03-06,...,10040,37.551166,126.849506,36,56,1,1.17,14.39,5.7,1080
3,1000000144,female,1971.0,40s,Korea,Seoul,Gangseo-gu,Guro-gu Call Center,NaN,2020-03-09,...,10040,37.551166,126.849506,36,56,1,1.17,14.39,5.7,1080
4,1000000150,female,1960.0,60s,Korea,Seoul,Gangseo-gu,Guro-gu Call Center,NaN,2020-03-09,...,10040,37.551166,126.849506,36,56,1,1.17,14.39,5.7,1080

#### Wyrysuj histogram

In [11]:
interact(plot_hist, numerical=Datasets[Datasets['current_dataset']]['numerical']);

interactive(children=(Dropdown(description='numerical', options=('birth_year', 'elementary_school_count', 'kin…

#### Wyrysuj boxplot

In [12]:
interact(boxplot, categorical=Datasets[Datasets['current_dataset']]['categorical'], numerical=Datasets[Datasets['current_dataset']]['numerical']);

interactive(children=(Dropdown(description='categorical', options=('sex', 'age', 'country', 'province', 'city'…

#### Wyrysuj time plot

In [13]:
interact(time_plot, data=Datasets[Datasets['current_dataset']]['count_col'], dates=Datasets[Datasets['current_dataset']]['dates'], date_range = selection_range_slider);

interactive(children=(Dropdown(description='data', options=('code', 'patient_id'), value='code'), Dropdown(des…

#### Wyrysuj wykres liniowy

In [14]:
interact(line_plot, data=Datasets[Datasets['current_dataset']]['count_col'], dates=Datasets[Datasets['current_dataset']]['dates'], groupping=Datasets[Datasets['current_dataset']]['categorical']);

interactive(children=(Dropdown(description='dates', options=('symptom_onset_date', 'confirmed_date', 'released…

#### Wyrysuj bar plot

In [15]:
interact(bar_plot, data=Datasets[Datasets['current_dataset']]['count_col'], column=Datasets[Datasets['current_dataset']]['categorical']);

interactive(children=(Dropdown(description='column', options=('sex', 'age', 'country', 'province', 'city', 'in…

#### Sprawdz przedzialy ufnosci

In [16]:
interact(przedzialy_ufnosci_srednia, data=Datasets[Datasets['current_dataset']]['numerical'], confidence=[0.90, 0.95, 0.99]);
pass

interactive(children=(Dropdown(description='data', options=('birth_year', 'elementary_school_count', 'kinderga…

#### Sprawdź normalność rozkładu

In [17]:
sprawdz_rozklad()

interactive(children=(Dropdown(description='column', options=('patient_id', 'birth_year', 'code', 'latitude', …

#### Porownaj Srednie

In [18]:
porownaj_srednie();

interactive(children=(Dropdown(description='column1', options=('patient_id', 'sex', 'birth_year', 'age', 'coun…

#### Boostrap

In [19]:
bootstrap_gender()

Wynik testu istotny w 6.2% symulacji